services:
  db:
    image: postgres:17
    profiles: ["production", "dev"]
    command: >
      postgres
      -c listen_addresses=''
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - pg_socket:/var/run/postgresql
    env_file:
      - .env

  db-staging:
    image: postgres:17
    profiles: ["staging"]
    command: >
      postgres
      -c listen_addresses=''
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_staging_data:/var/lib/postgresql/data
      - pg_staging_socket:/var/run/postgresql
    env_file:
      - .env

  redis:
    image: redis:latest
    profiles: ["production", "dev"]
    command: >
      redis-server
      --save ""
      --appendonly no
      --port 0
      --unixsocket /data/redis.sock
      --unixsocketperm 777
    volumes:
      - redis_data:/data
      - redis_socket:/data
    env_file:
      - .env

  redis-staging:
    image: redis:latest
    profiles: ["staging"]
    command: >
      redis-server
      --save ""
      --appendonly no
      --port 0
      --unixsocket /data/redis.sock
      --unixsocketperm 777
    volumes:
      - redis_staging_data:/data
      - redis_staging_socket:/data
    env_file:
      - .env

  django:
    build:
      context: .
      dockerfile: .docker/dockerfile
    container_name: timeofjustice.eu
    image: ghcr.io/timeofjustice/timeofjustice.eu:latest
    profiles: ["production"]
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}

      DEBUG: ${DEBUG}
      LOCAL_PRODUCTION: ${LOCAL_PRODUCTION}
      IS_STABLE: ${IS_STABLE}

      DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}

      FILE_DESTINATION: ${FILE_DESTINATION}
      LOGGING_DESTINATION: ${LOGGING_DESTINATION}
      ADMIN_URL: ${ADMIN_URL}

      USE_OTP: ${USE_OTP}

      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
    env_file:
      - .env
    volumes:
      - static_volume:/app/backend/staticfiles
      - files_volume:/app/backend/files
      - ./staticfiles:/app/backend/staticfiles
      - ./files:/app/backend/files
      - ./sockets:/sockets
      - ./logs:/app/backend/logs
      - pg_socket:/var/run/postgresql
      - redis_socket:/data

  django-staging:
    build:
      context: .
      dockerfile: .docker/dockerfile
    container_name: staging.timeofjustice.eu
    image: ghcr.io/timeofjustice/staging.timeofjustice.eu:latest
    profiles: ["staging"]
    ports:
      - "8003:8000"
    depends_on:
      - db-staging
      - redis-staging
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}

      DEBUG: ${DEBUG}
      LOCAL_PRODUCTION: ${LOCAL_PRODUCTION}
      IS_STABLE: ${IS_STABLE}

      DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}

      FILE_DESTINATION: ${FILE_DESTINATION}
      LOGGING_DESTINATION: ${LOGGING_DESTINATION}
      ADMIN_URL: ${ADMIN_URL}

      USE_OTP: ${USE_OTP}

      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
    env_file:
      - .env
    volumes:
      - static_staging_volume:/app/backend/staticfiles
      - files_staging_volume:/app/backend/files
      - ./staticfiles:/app/backend/staticfiles
      - ./files:/app/backend/files
      - ./sockets:/sockets
      - ./logs:/app/backend/logs
      - pg_staging_socket:/var/run/postgresql
      - redis_staging_socket:/data

  django-dev:
    build:
      context: .
      dockerfile: .docker/dockerfile.dev
    container_name: timeofjustice.eu-dev
    profiles: ["dev"]
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}

      DEBUG: ${DEBUG}
      LOCAL_PRODUCTION: ${LOCAL_PRODUCTION}
      IS_STABLE: ${IS_STABLE}

      DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}

      FILE_DESTINATION: ${FILE_DESTINATION}
      LOGGING_DESTINATION: ${LOGGING_DESTINATION}
      ADMIN_URL: ${ADMIN_URL}

      USE_OTP: ${USE_OTP}

      DATABASE_ENGINE: ${DATABASE_ENGINE}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
    env_file:
      - .env
    volumes:
      - files_volume:/app/backend/files
      - ./backend:/app/backend
volumes:
  postgres_data:
  postgres_staging_data:
  pg_socket:
  pg_staging_socket:
  static_volume:
  static_staging_volume:
  files_volume:
  files_staging_volume:
  redis_data:
  redis_staging_data:
  redis_socket:
  redis_staging_socket:
