html {
    background: radial-gradient(331.49% 141.42% at 100% 0%, #cccccc 0%, #ffffff 100%);
    color: #ffffff;
}

a {
    color: #333333;
}

a:hover {
    color: #a2a2a2;
}

.header {
    border-bottom: 1px solid #333333;
}

.socials::after {
    border-right:1px solid #333333;
}

.project.active {
    background: #1504e5;
}

.project > div {
    background: rgba(10, 10, 10, 0.75);
}

.project > div:hover {
    background: rgba(10, 10, 10, 1);
}

.project.active > div {
    background: rgba(10, 10, 10, 1);
}

.project > div > .status {
    color: #919191;
}

.project > div > .languages {
    color: #919191;
}

.rondel-container {
    background: #0a0a0a;
}

.arrow-left > i, .arrow-right > i {
    background: rgba(10, 10, 10, 0.75);
}

.arrow-left > i:hover, .arrow-right > i:hover {
    background: rgba(10, 10, 10, 0.85);
}

.rondel-container > .dots > .active {
    color: #3a3a3a;
    -webkit-text-stroke: 1px #ffffff;
}

.rondel-container > .description {
    background: rgba(10, 10, 10, 0.75);
}

.information-button {
    background: rgba(10, 10, 10, 0.75);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #383838;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}