html {
    background: radial-gradient(331.49% 141.42% at 100% 0%, #cccccc 0%, #ffffff 100%);
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #545454;
}

#modeButton:hover {
    color: #545454;
}

.header {
    border-bottom: 1px solid #383838;
}

.header > .left-side, .header > .right-side a {
    color: #2a2a2a;
}

.header > .left-side > div:hover {
    color: #2a2a2a;
}

.header > .left-side > span::after {
    border-right:1px solid #2a2a2a;
}

.socials::after {
    border-right:1px solid #2a2a2a;
}

.switch {
    border: 2px solid #2a2a2a;
}

.switch > .handle {
    background: #2a2a2a;
    color: white;
    left: 22px;
}

.switch:hover > .handle {
    background: white;
    color: #2a2a2a;
}

.project.active {
    background: #0c0365;
}

.project > div {
    background: rgba(10, 10, 10, 0.75);
}

.project > div:hover {
    background: rgba(10, 10, 10, 1);
}

.project.active > div {
    background: rgba(10, 10, 10, 1);
}

.project > div > .status {
    color: #919191;
}

.project > div > .languages {
    color: #919191;
}

.rondel-container {
    background: #0a0a0a;
}

.arrow-left > i, .arrow-right > i {
    background: rgba(10, 10, 10, 0.75);
}

.arrow-left > i:hover, .arrow-right > i:hover {
    background: rgba(10, 10, 10, 0.85);
}

.rondel-container > .dots > .active {
    color: #3a3a3a;
    -webkit-text-stroke: 1px #ffffff;
}

.rondel-container > .description {
    background: rgba(10, 10, 10, 0.75);
}

.information-button {
    background: rgba(10, 10, 10, 0.75);
}

.cookie-banner {
    background: #383838;
    box-shadow: #0a0a0a 0 0 10px 0;
}

.cookie-banner a {
    color: #ffffff;
}

.cookie-banner > .buttons > div {
    border: #a2a2a2 2px solid;
}

.cookie-banner > .buttons > div:hover {
    background: #a2a2a2;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}