<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        {% load static %}
        <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/' %}{{ mode }}.css" rel="stylesheet" id="styling">

        <script src="{% static 'js/jquery.js' %}/"></script>
        <script src="{% static 'js/cookie.js' %}/"></script>

        {% block additionalHead %}
        {% endblock %}
    </head>

    <body>

    {% block content %}
    {% endblock %}

    <div class="cookie-banner">
        <div class="text">
            This website uses cookies to improve your experience 🍪
        </div>
        <a href="https://gdpr-info.eu/" target="_blank">Read more</a>
        <div class="buttons">
            <div class="accept" onclick="onAccept()">Accept</div>
            <div class="decline" onclick="onDecline()">Decline</div>
        </div>
    </div>

    </body>
</html>