<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        {% load static %}
        <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/' %}{{ mode }}.css" rel="stylesheet" id="styling">

        <script src="{% static 'js/jquery.js' %}/"></script>
        <script src="{% static 'js/cookie.js' %}/"></script>
        <script src="{% static 'js/darkmode.js' %}" defer data-lightcss="{% static 'css/light.css' %}" data-darkcss="{% static 'css/dark.css' %}"></script>

        {% block additionalHead %}
        {% endblock %}
    </head>

    <body>

    <div class="header-container">
        <div class="header">
            <div class="left-side">
                <i class="fas fa-code"></i>
                <span>TimeofJustice</span>
                <a href="/" class="projects-link">/Projects</a>
                <a href="/privacy" class="privacy-link">/Privacy Policy</a>
                <a href="/legal" class="legal-link">/Legal Notice</a>
            </div>

            <div class="right-side">
                <div class="socials">
                    <a href="https://github.com/TimeofJustice" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://instagram.com/jonas.oel" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://linkedin.com/in/jonas-oelschner-2569441b3" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://steamcommunity.com/id/TimeJustice" target="_blank">
                        <i class="fa-brands fa-steam"></i>
                    </a>
                    <a href="https://twitter.com/timeofjustice_" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
                <div class="functions">
                    <div class="switch" id="modeButton" onclick="changeMode()">
                        <div class="handle">
                            <i class="fa-solid fa-lightbulb"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="cookie-banner">
        <div class="text">
            This website uses cookies to improve your experience 🍪
        </div>
        <a href="https://gdpr-info.eu/" target="_blank">Read more</a>
        <div class="buttons">
            <div class="accept" onclick="onAccept()">Accept</div>
            <div class="decline" onclick="onDecline()">Decline</div>
        </div>
    </div>

    </body>
</html>