{% extends 'base.html' %}
{% load static %}

{% block additionalHead %}
{% endblock %}

{% block content %}
<div class="header">
    <div class="left-side">
        <i class="fas fa-code"></i>
        TimeofJustice
    </div>

    <div class="right-side">
        <div class="socials">
            <a href="">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-steam"></i>
            </a>
            <a href="">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
        <div class="functions">
            <i class="fa fa-moon"></i>
        </div>
    </div>
</div>

<div class="content">
    <div class="project-container">
        <div class="title">/Projects</div>

        <div class="projects">
            {% for project in projects %}
            <div class="project">
                {% if project.git %}
                <a class="git" href="{{ project.git }}" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                {% endif %}
                <div class="status">{{project.status}}</div>
                <div class="title">{{project.name}}</div>
                <div class="languages">
                    (
                    {% for language in project.languages %}
                    {% if forloop.last %}
                    {{language}}
                    {% else %}
                    {{language}},
                    {% endif %}
                    {% empty %}
                    Leer
                    {% endfor %}
                    )
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="rondel-container">
        <img class="image" src="https://unity.com/sites/default/files/styles/cards_16_9/public/2020-02/powerful-addition-toolset-game-development_0.jpg?itok=l8dp-x0_">

        <div class="arrow-left">
            <i class="fa fa-arrow-circle-left"></i>
        </div>
        <div class="arrow-right">
            <i class="fa fa-arrow-circle-right"></i>
        </div>
        <div class="dots">
            <i class="fa fa-circle"></i>
            <i class="fa fa-circle active"></i>
            <i class="fa fa-circle"></i>
        </div>
    </div>
</div>

<div>

</div>

<div class="information-button">
    <i class="fa fa-info-circle"></i>
</div>
{% endblock %}