.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    background: var(--default-button-bg)!important;

    padding: 4px 10px 4px 10px!important;
    margin-top: 2px!important;
}

.ui-tabs .ui-tabs-nav li:last-child a {
    border-radius: 0 10px 10px 0!important;
    border-right: unset!important;
}

.ui-tabs .ui-tabs-nav li:first-child a {
    border-radius: 10px 0 0 10px!important;
}

.ui-tabs .ui-tabs-nav li a {
    background: var(--button-bg)!important;
    border-radius: 0!important;
    border: unset!important;
    border-right: 1px solid var(--border-color)!important;
    color: var(--button-fg)!important;
}

.ui-tabs .ui-tabs-nav {
    border-bottom: unset!important;
}

.paginator {
    position: sticky;
    bottom: -1px;
}

.paginator ul {
    display: flex;
    gap: 5px;
    margin: auto;
}

.paginator ul li {
    list-style: none;
}

#container {
    overflow: hidden;
}

#main {
    overflow: auto;
    flex: 1!important;
}

#changelist-filter {
    position: sticky;
    top: 10px;
}
