.content-body {
  scrollbar-gutter: stable both-edges;
}

.content-body:has(.fullscreen) {
  scrollbar-gutter: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #717171 transparent;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 8px;
  background-clip: content-box !important;
  border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background: #414141;
}
