$custom-colors: (
    'grey-100': #252525,
    'grey-200': #3b3b3b,
    'space-blue': #071c39,
    'grey-10': #adadad,
);

.bg {
  @each $color, $value in $custom-colors {
    &-#{$color} {
        background-color: rgba($value, var(--bs-bg-opacity));
    }
  }
}

.text {
  @each $color, $value in $custom-colors {
    &-#{$color} {
      color: $value;
    }
  }
}