@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 50rem;
  --speed: 60s;
  --easing: linear;

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(222, 84, 60, 100%), hsl(164, 79, 71));
  animation: rotate var(--speed) var(--easing) infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

body {
  background-color: #071c39;
}