a {
  transition: color 0.15s ease-in-out;
}

.stretched-link-translate {
  transition: margin-right 0.15s ease-in-out;

  &-right * {
    @extend .stretched-link-translate;
    margin-right: 5px;
  }

  &-right:hover * {
    margin-right: 0;
  }
}

.resizeable img {
  transition: height 0.35s ease;
}
