* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

body {
    height: 100%;
    overflow: hidden;
}

#root {
    padding: 20px 40px 40px 40px;
    height: 100%;
    display: grid;
    grid-template-rows: 40px calc(100% - 65px);
    grid-gap: 25px;
}

a {
    text-decoration: none;
    transition: color 0.25s ease-in-out, padding-bottom 0.25s ease-in-out;
}

a:hover {
    padding-bottom: 5px;
}

.header-container, .content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header {
    flex: 0 0 40px;
    width: 100%;
    max-width: 1200px;
    height: 40px;
    display: flex;
    padding: 0 10px 0 10px;
}

.header .active {
    font-weight: bold !important;
}

.header .legal-link {
    display: none !important;
}

.header > .left-side {
    flex: 1 1 auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header > .left-side > span, .header > .left-side > i {
    transition: color 0.25s ease-in-out;
}

.header > .left-side > span::after {
    content: "";
    margin-left: 10px;
    margin-right: 10px;
}

.header > .left-side > a {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 10px;
    transition: color 0.25s ease-in-out, padding-bottom 0.25s ease-in-out;
}

.header > .left-side > a:hover {
    cursor: pointer;
    padding-bottom: 5px;
}

.header > .left-side > i {
    margin-right: 5px;
}

.header > .right-side {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.header > .right-side > div {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.25rem;
    letter-spacing: 8px;
}

.header > .right-side > .socials {
    margin-right: 8px;
}

.socials::after {
    content: "";
    padding: 10px 0;
}

.switch {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 15px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.25s ease-in-out;
}

.switch:hover {
    cursor: pointer;
}

.switch > .handle {
    border-radius: 360px;
    position: absolute;
    left: 2px;
    height: calc(100% - 4px);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8px;
    transition: color 0.25s ease-in-out, left 0.25s ease-in-out;
}

.switch > .handle > i {
    width: fit-content;
    letter-spacing: normal;
}

.privacy-container {
    height: 100%;
    overflow-y: auto;
    line-height: 2rem;
    max-width: 1200px;
    margin: auto;
    padding: 0 50px 0 50px;
}

.privacy-container a {
    font-weight: bold;
    text-decoration: underline;
}

.content {
    display: flex;
    max-width: 1200px;
    height: 100%;
    flex: 1 1 100%;
    width: 100%;
    padding: 0 50px 0 50px;
}

.project-container {
    flex: 0 1 300px;

    display: flex;
    flex-direction: column;

    margin-right: 20px;
    height: 100%;
}

.project-container > .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 25px 10px;
    flex: 0 1 auto;
    transition: color 0.25s ease-in-out;
}

.projects {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 25px;
    border-radius: 15px;
}

.project {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 5px;
    transition: margin-right 0.25s ease-in-out, background 0.25s ease-in-out;
    position: relative;
}

.project:hover {
    margin-right: 1px;
}

.project.active {
    border-radius: 15px;
    margin-right: 5px;
}

.project > .mark {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: -1;
    transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out;
}

.project.active > .mark {
    opacity: 1;
}

.project > .inner {
    padding: 15px;
    border-radius: 15px;
    transition: margin-left 0.25s ease-in-out, background 0.25s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
}

.project > .inner:hover {
    margin-left: 5px;
    cursor: pointer;
}

.project.active > .inner {
    margin-left: 5px;
}

.project > .inner > .title {
    font-size: 1.125rem;
    margin: 5px 0 5px 0;
}

.project > .inner > .status {
    font-size: 0.75rem;
}

.project > .inner > .languages {
    font-size: 0.75rem;
}

.project > .inner > .git {
    float: right;
}

.rondel-container {
    flex: 0 1 800px;
    height: 100%;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

.rondel-container > .images {
    display: grid;
    width: 100%;
    height: 100%;
}

.images > .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    transition: left 0.5s ease-in-out;
    position: absolute;
    left: 100%;
}

.image-container > .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

.blur-load {
    background-size: cover;
    background-position: center;
    position: relative;
    filter: blur(10px);
}

.blur-load::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.blur-load.loaded {
    filter: blur(0px);
}

.blur-load.loaded::before {
    animation: none;
}

.blur-load > img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.blur-load > .loaded {
    opacity: 1;
}

#fullview {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
}

#fullview.active {
    opacity: 1;
    pointer-events: all;
}

#fullview > div {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
}

#fullview > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    user-select: none;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.arrow-left > i, .arrow-right > i {
    border-radius: 360px;
    width: 36px;
    height: 36px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transition: background 0.25s ease-in-out;
}

.arrow-left > i:hover, .arrow-right > i:hover {
    cursor: pointer;
}

.rondel-container > .dots {
    font-size: 0.5rem;
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 3px;
    user-select: none;
}

.dots > .active {
    transition: color 0.25s ease-in-out, -webkit-text-strokes 0.25s ease-in-out;
}

.rondel-container > .description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    max-height: 200px;
    display: flex;
    width: 100%;
}

.description > div {
    overflow-y: auto;
    flex: 1 1 100%;
}

.information-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    width: 46px;
    height: 46px;
}

.cookie-banner {
    position: fixed;
    bottom: -200px;
    left: 10px;
    border-radius: 15px;
    padding: 15px;
    max-width: 255px;
    transition: bottom 0.5s ease-in-out;
}

.cookie-banner a:hover {
    cursor: pointer;
}

.cookie-banner > .text {
    margin-bottom: 5px;
}

.cookie-banner a {
    text-decoration: underline;
    font-weight: bold;
}

.cookie-banner > .buttons {
    margin-top: 10px;
    display: flex;
}

.cookie-banner > .buttons > div {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 5px;
    transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
}

.cookie-banner > .buttons > div:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.field-wrapper {
    background: radial-gradient(331.49% 141.42% at 100% 0%, #1a1a1a 0%, #0e0e0e 100%);
    border-radius: 10px;
    border: 3px solid #e0e0e0;
}

html.dark .field-wrapper {
    background: radial-gradient(331.49% 141.42% at 100% 0%, #1a1a1a 0%, #0e0e0e 100%);
    border: 3px solid #000000;
}

.place-field {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.place-container, .place-content {
    width: 100%!important;
    height: 100%!important;
    position: relative;
    overflow: auto;
}

.place-content .field {
    background-color: #FFFFFF;
    image-rendering: pixelated;
    transform-origin: top left;
}

.place-cell {
    background-color: #0a0a0a;
    aspect-ratio: 1;
}

.place-cell:hover {
    cursor: pointer;
    border: 1px solid #737373;
}

.colors {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.colors .color {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px solid #737373;
}

.colors .color:hover {
    cursor: pointer;
    border: 2px solid #737373;
}

.colors .color.active {
    border: 2px solid #737373;
}

@media screen and (max-width: 1280px) {
    .content {
        flex-direction: column;
        max-width: calc(100vw - 100px);
    }

    .content > .project-container {
        margin-right: 0;
        height: 40%;
    }

    .content > .project-container > .projects {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: max-content;
        margin-bottom: 0;
    }

    .content > .rondel-container {
        order: -1;
        margin-bottom: 20px;
        height: 60%;
    }
}

@media screen and (max-width: 750px) {
    #root {
        padding: 10px;
    }

    .content {
        max-width: calc(100vw - 20px);
    }

    .header {
        padding: 0;
    }

    .header > .left-side > a,
    .header > .left-side > span,
    .header > .left-side > i {
        font-size: 0.8rem;
    }

    .header > .right-side > div {
        font-size: 1rem;
        letter-spacing: 4px;
    }

    .privacy-container {
        padding: 0 10px;
        width: 100%;
        overflow-wrap: break-word;
        hyphens: auto;
    }

    .content > .project-container > .projects {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: max-content;
    }

    .content {
        padding: 0;
    }

    .project-container > .title {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    .rondel-container {
        margin-bottom: 15px;
    }

    .rondel-container > .description {
        padding: 20px;
    }

    .information-button {
        font-size: 1.25rem;
        width: 40px;
        height: 40px;
    }

    .cookie-banner {
        max-width: 200px;
    }

    .header .socials {
        display: none !important;
    }
}