html.dark {
    background: radial-gradient(331.49% 141.42% at 100% 0%, #070141 0%, #000000 100%);
    color: #ffffff;
}

html.dark a {
    color: #ffffff;
}

html.dark a:hover {
    color: #545454;
}

html.dark #modeButton:hover {
    color: #545454;
}

html.dark .header {
    border-bottom: 1px solid #383838;
}

html.dark .header > .left-side > div:hover {
    color: #545454;
}

html.dark .header > .left-side > span::after {
    border-right:1px solid #383838;
}

html.dark .socials::after {
    border-right:1px solid #383838;
}

html.dark .switch {
    border: 2px solid white;
}

html.dark .switch > .handle {
    background: white;
    color: #333333;
    left: 2px;
}

html.dark .switch:hover > .handle {
    background: #333333;
    color: white;
}

html.dark .project.active {
    background: #0c0365;
}

html.dark .project > div {
    background: rgba(10, 10, 10, 0.75);
}

html.dark .project > div:hover {
    background: rgba(10, 10, 10, 1);
}

html.dark .project.active > div {
    background: rgba(10, 10, 10, 1);
}

html.dark .project > div > .status {
    color: #919191;
}

html.dark .project > div > .languages {
    color: #919191;
}

html.dark .rondel-container {
    background: #0a0a0a;
    box-shadow: #0a0a0a 0 0 10px 0;
}

html.dark .arrow-left > i, html.dark .arrow-right > i {
    background: rgba(10, 10, 10, 0.75);
}

html.dark .arrow-left > i:hover, html.dark .arrow-right > i:hover {
    background: rgba(10, 10, 10, 0.85);
}

html.dark .rondel-container > .dots > .active {
    color: #3a3a3a;
    -webkit-text-stroke: 1px #ffffff;
}

html.dark .rondel-container > .description {
    background: rgba(10, 10, 10, 0.75);
}

html.dark .information-button {
    background: rgba(10, 10, 10, 0.75);
}

html.dark .cookie-banner {
    background: #383838;
    box-shadow: #0a0a0a 0 0 10px 0;
}

html.dark .cookie-banner a {
    color: #ffffff;
}

html.dark .cookie-banner a:hover {
    color: #545454;
}

html.dark .cookie-banner > .buttons > div {
    border: #a2a2a2 2px solid;
}

html.dark .cookie-banner > .buttons > div:hover {
    background: #a2a2a2;
}

html.dark ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

html.dark ::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 5px;
}

html.dark ::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}