.place-field {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid #e0e0e0;
    overflow: hidden;
    background: radial-gradient(100% 100% at 0% 100%, #1a1a1a 0%, #2c2c2c 100%);
    color: #e0e0e0;
}

html.dark .place-field {
    border: 3px solid #000000;
}

.place-container, .place-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.place-content .field {
    background-color: #FFFFFF;
    image-rendering: pixelated;
    transform-origin: top left;
}

.cords {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 0.75rem;
    color: #383838;
    user-select: none;
    background-color: #e5e5e5;
    border-radius: 0 0 0 10px;
    width: 100px;
    text-align: center;
}

.overlay-input {
    position: absolute;
    top: 0;
    right: 105px;
    height: 35px;
    padding: 5px;
}

.overlay-input input {
    width: 100%;
    height: 100%;
}

.timer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 0.75rem;
    color: #383838;
    user-select: none;
    background-color: #e5e5e5;
    border-radius: 10px 0 0 0;
    width: 100px;
    text-align: center;
}

.colors-container {
    position: absolute;
    bottom: -100px;
    left: 0;
    padding: 5px;
    width: 100%;
    height: 10%;
    min-height: 50px;
    max-height: 100px;
    background-color: #e5e5e5;
    border-top: 3px solid #e0e0e0;
    transition: bottom 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
}

.colors-container.ready {
    bottom: 0;
}

.colors {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(16, fit-content(100%));
    grid-gap: 5px;
    height: 100%;
}

.color-picker-container {
    position: relative;
    height: 100%;
    padding-bottom: 3px;
}

.chrome-picker {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif !important;
}

.color-picker {
    margin-left: 5px;
    height: 100%;
    -webkit-appearance: none;
    padding: 0;
    position: relative;
    border-radius: 10px;
    border: 1px solid #737373;
    overflow: hidden;
    width: 50px;
}

.color-picker:hover {
    cursor: pointer;
    border: 2px solid #737373;
}

.color-picker > .hotkey {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #a2a2a2;
    font-size: 0.65rem;
    padding: 3px;
    border-radius: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000000;
}

.color-picker .color-picker-button {
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    height: 20px;
    width: 100%;
    background-color: #a2a2a2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-picker-button > i {
    color: #000;
    font-size: 0.75rem;
}

.colors .color {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #737373;
    overflow: hidden;
}

.reset-transform {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
    padding: 10px;
    color: #000;
    font-size: 0.75rem;
    border-radius: 0 0 10px 0;
    font-weight: bold;
}

.reset-transform:hover {
    cursor: pointer;
    background-color: #d5d5d5;
}

.colors .color > div {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #a2a2a2;
    font-size: 0.65rem;
    padding: 3px;
    border-radius: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000000;
}

.colors .color:hover {
    cursor: pointer;
    border: 2px solid #737373;
}

@media screen and (max-width: 1280px) {
    .colors-container {
        height: 30%;
        max-height: 100px;
        bottom: -100px;
    }

    .colors .color {
        width: 40px;
        height: 40px;
    }

    .colors .color > div {
        display: none;
    }

    .color-picker {
        display: none
    }
}

@media screen and (max-width: 930px) {
    .colors-container {
        height: 30%;
        max-height: 200px;
        bottom: -200px;
    }

    .colors .color {
        width: 35px;
        height: 35px;
    }

    .colors {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(8, 1fr);
    }
}

.captcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
}

.captcha-container > .place-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    transition: background 0.25s ease-in-out;
    margin-top: 10px;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.captcha-container > .place-button:hover {
    cursor: pointer;
    background-color: #1a1a1a;
}

.captcha.not-valid {
    border: 3px solid #ff0000;
}

.captcha > * {
    width: 100%;
}

.captcha > input {
    padding: 5px;
    border: 3px solid #ff0000;
}

.captcha > input::placeholder {
    color: red;
}

.captcha.valid > input {
    border: 3px solid #234b00;
}

.captcha.valid > input::placeholder {
    color: #000;
}