html {
    background: radial-gradient(331.49% 141.42% at 100% 0%, #f5f5f5 0%, #ffffff 100%);
    color: #000000;
}

a {
    color: #000000;
}

a:hover {
    color: #959595;
}

#modeButton:hover {
    color: #959595;
}

.header {
    border-bottom: 1px solid #e0e0e0;
}

.header > .left-side > div:hover {
    color: #959595;
}

.header > .left-side > span::after {
    border-right:1px solid #e0e0e0;
}

.socials::after {
    border-right:1px solid #e0e0e0;
}

.switch {
    border: 2px solid #000000;
}

.switch > .handle {
    background: #000000;
    color: #e0e0e0;
    left: 22px;
}

.switch:hover > .handle {
    background: #959595;
    color: #000000;
}

.project.active > .mark {
    background: #ff6e42;
}

.project > div {
    background: rgba(229, 229, 229, 0.75);
}

.project > div:hover {
    background: rgba(245, 245, 245, 1);
}

.project.active > div {
    background: rgba(245, 245, 245, 1);
}

.project > div > .status {
    color: #565656;
}

.project > div > .languages {
    color: #565656;
}

.rondel-container {
    background: #f0f0f0;
    box-shadow: #656565 0 0 10px 0;
}

.arrow-left > i, .arrow-right > i {
    background: rgba(245, 245, 245, 0.75);
}

.arrow-left > i:hover, .arrow-right > i:hover {
    background: rgba(245, 245, 245, 0.85);
}

.rondel-container > .dots > .active {
    color: #939393;
    -webkit-text-stroke: 1px #ffffff;
}

.rondel-container > .description {
    background: rgba(224, 224, 224, 0.75);
}

.information-button {
    background: rgba(245, 245, 245, 0.75);
}

.cookie-banner {
    background: #e0e0e0;
    box-shadow: #656565 0 0 10px 0;
}

.cookie-banner a {
    color: #000000;
}

.cookie-banner a:hover {
    color: #959595;
}

.cookie-banner > .buttons > div {
    border: #747474 2px solid;
}

.cookie-banner > .buttons > div:hover {
    background: #747474;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #c7c6c6;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}