.project-container {
    flex: 0 1 300px;

    display: flex;
    flex-direction: column;

    margin-right: 20px;
    height: 100%;
    overflow-x: hidden;
}

.project-container > .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 25px 10px;
    flex: 0 1 auto;
    transition: color 0.25s ease-in-out;
}

.projects {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 25px;
    border-radius: 15px;
}

.project {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 5px;
    transition: margin-right 0.25s ease-in-out, background 0.25s ease-in-out;
    position: relative;
}

.project:hover {
    margin-right: 1px;
}

.project.active {
    border-radius: 15px;
    margin-right: 5px;
}

.project > .mark {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: -1;
    transition: opacity 0.25s ease-in-out, background 0.25s ease-in-out;
}

.project.active > .mark {
    opacity: 1;

    background: #ff6e42;
}

html.dark .project.active > .mark {
    background: #0c0365;
}

.project > div {
    background: rgba(229, 229, 229, 0.75);
}

html.dark .project > div {
    background: rgba(10, 10, 10, 0.75);
}

.project > div:hover {
    background: rgba(245, 245, 245, 1);
}

html.dark .project > div:hover {
    background: rgba(10, 10, 10, 1);
}

.project.active > div {
    background: rgba(245, 245, 245, 1);
}

html.dark .project.active > div {
    background: rgba(10, 10, 10, 1);
}

.project > .inner {
    padding: 15px;
    border-radius: 15px;
    transition: margin-left 0.25s ease-in-out, background 0.25s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
    height: 100%;
}

.project > .inner:hover {
    margin-left: 5px;
    cursor: pointer;
}

.project.active > .inner {
    margin-left: 5px;
}

.project > .inner > .title {
    font-size: 1.125rem;
    margin: 5px 0 5px 0;
}

.project > .inner > .status {
    font-size: 0.75rem;

    color: #565656;
}

html.dark .project > div > .status {
    color: #919191;
}

.project > .inner > .languages {
    font-size: 0.75rem;

    color: #565656;
}

html.dark .project > div > .languages {
    color: #919191;
}

.project > .inner > .git {
    float: right;
}

.rondel-container {
    flex: 0 1 800px;
    height: 100%;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;

    background: #f0f0f0;
    box-shadow: #656565 0 0 10px 0;
}

html.dark .rondel-container {
    background: #0a0a0a;
    box-shadow: #0a0a0a 0 0 10px 0;
}

.rondel-container > .images {
    display: grid;
    width: 100%;
    height: 100%;
}

.images > .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    transition: left 0.5s ease-in-out;
    position: absolute;
    left: 100%;
}

.image-container > .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

.blur-load {
    background-size: cover;
    background-position: center;
    position: relative;
    filter: blur(10px);
}

.blur-load::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.blur-load.loaded {
    filter: blur(0px);
}

.blur-load.loaded::before {
    animation: none;
}

.blur-load > img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.blur-load > .loaded {
    opacity: 1;
}

#fullview {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
}

#fullview.active {
    opacity: 1;
    pointer-events: all;
}

#fullview > div {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
}

#fullview > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    user-select: none;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.arrow-left > i, .arrow-right > i {
    border-radius: 360px;
    width: 36px;
    height: 36px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transition: background 0.25s ease-in-out;

    background: rgba(245, 245, 245, 0.75);
}

html.dark .arrow-left > i, html.dark .arrow-right > i {
    background: rgba(10, 10, 10, 0.75);
}

.arrow-left > i:hover, .arrow-right > i:hover {
    cursor: pointer;

    background: rgba(245, 245, 245, 0.85);
}

html.dark .arrow-left > i:hover, html.dark .arrow-right > i:hover {
    background: rgba(10, 10, 10, 0.85);
}

.rondel-container > .dots {
    font-size: 0.5rem;
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 3px;
    user-select: none;
}

.dots > .active {
    transition: color 0.25s ease-in-out, -webkit-text-strokes 0.25s ease-in-out;

    color: #939393;
    -webkit-text-stroke: 1px #ffffff;
}

html.dark .rondel-container > .dots > .active {
    color: #3a3a3a;
    -webkit-text-stroke: 1px #ffffff;
}

.rondel-container > .description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    max-height: 200px;
    display: flex;
    width: 100%;

    background: rgba(224, 224, 224, 0.75);
}

html.dark .rondel-container > .description {
    background: rgba(10, 10, 10, 0.75);
}

.description > div {
    overflow-y: auto;
    flex: 1 1 100%;
}

@media screen and (max-width: 1280px) {
    .content > .project-container {
        margin-right: 0;
        height: 40%;
    }

    .content > .project-container > .projects {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: max-content;
        margin-bottom: 0;
    }

    .content > .rondel-container {
        order: -1;
        margin-bottom: 20px;
        height: 60%;
    }
}

@media screen and (max-width: 750px) {
    .content > .project-container > .projects {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: max-content;
    }

    .project-container > .title {
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    .rondel-container {
        margin-bottom: 15px;
    }

    .rondel-container > .description {
        padding: 20px;
    }
}