// Import Bootstrap
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

// Import colors
@import "colors";

$font-family-base: "Inter", sans-serif;
$font-size-base: 0.95rem;
$font-weight-base: 400;
$headings-font-weight: 700;

$body-bg: $dark-gray-600;
$body-color: $light;

$card-bg: rgba(37, 37, 37, 0.5);
$card-border-width: 0;

$dropdown-bg: $light;
$dropdown-link-color: $dark;
$dropdown-link-hover-color: $dark;
$dropdown-link-hover-bg: color-mix(in srgb, currentColor 20%, transparent);

$input-placeholder-color: $gray-500;

$link-color: $gray-300;
$link-hover-color: $gray-500;

$navbar-light-color: $light;
$navbar-light-hover-color: $gray-500;
$navbar-light-active-color: $light;
$navbar-toggler-focus-width: unset;

$progress-bg: $dark-gray-600;

$primary: $dark-gray-800;
$secondary: $dark-gray-500;
$tertiary: $gray-800;
$accent: $gray-500;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "accent": $accent,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

@import "bootstrap/scss/bootstrap";

@import "bootstrap-custom";

// Import custom styles
@import "custom";
@import "font";

// Import libraries
@import "vue3-carousel/carousel.css";
