$black: #000000;
$white: #ffffff;

$dark-gray-500: #3b3b3b;
$dark-gray-600: #252525;
$dark-gray-700: #1b1e21;
$dark-gray-800: #141619;
$dark-gray-900: #0c0d0f;

$dark-grays: (
  "dark-gray-500": $dark-gray-500,
  "dark-gray-600": $dark-gray-600,
  "dark-gray-700": $dark-gray-700,
  "dark-gray-800": $dark-gray-800,
  "dark-gray-900": $dark-gray-900,
);

$space-blue: #071c39;
$aquamarin: #00689b;
$blue-grey: #1367e4;
$brown: #766a5f;
$dark-green: #298363;
$dark-red: #7d4154;
