$navbar-light-color: #fff;
$navbar-light-hover-color: #6c6c6c;
$navbar-light-active-color: #fff;

$link-color: #ffffff;
$link-hover-color: #6c6c6c;

$dropdown-bg: #fff;
$dropdown-link-hover-bg: color-mix(in srgb, currentColor 20%, transparent);

$navbar-toggler-focus-width: unset;

$body-bg: #252525;
$body-color: #f8f9fa;
$body-bg-dark: #252525;
$body-color-dark: #f8f9fa;

:root {
  --bs-bg-opacity: 1;
}
