@import "@node_modules/bootstrap/scss/functions";

$nav-link-color: #ffffff;
$nav-link-hover-color: #6c6c6c;

:root {
  --bs-nav-link-color: #{$nav-link-color};
  --bs-nav-link-hover-color: #{$nav-link-hover-color};
  --bs-bg-opacity: 1;
  --bs-link-color-rgb: 255, 255, 255;
  --bs-link-color: #ffffff;
  --bs-link-hover-color: #6c6c6c;
  --bs-link-hover-color-rgb: 108, 108, 108;
}

// Required
@import "@node_modules/bootstrap/scss/variables";
@import "@node_modules/bootstrap/scss/mixins";